/**
 * @form-element tablegrid-select.css
 */

.cocoon-media-add-media-form .form-actions .button:last-child {
  margin-left: 0;
}

.cocoon-media-add-media-form table thead th:first-child {
  display: none;
}

.cocoon-media-add-media-form table tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 100px;
}

.cocoon-media-add-media-form table tbody tr {
  display: flex;
  border-bottom: none;
  width: 20%;
  padding: 0;
}

@media (max-width: 1300px) {
  .cocoon-media-add-media-form table tbody tr {
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .cocoon-media-add-media-form table tbody tr {
    width: 33.3%;
  }
}

@media (max-width: 940px) {
  .cocoon-media-add-media-form table tbody tr {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .cocoon-media-add-media-form table tbody tr {
    width: 100%;
  }
}

.cocoon-media-add-media-form table tbody tr td {
  width: 100%;
  height: 100%;
}

.cocoon-media-add-media-form table tbody tr td:first-child {
  position: absolute;
  padding: 0;
  margin: 12px 14px;
  width: 50px;
  height: 50px;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 1px;
}

.cocoon-media-add-media-form table tbody tr td:first-child div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cocoon-media-add-media-form table tbody tr td input[type="checkbox"],
.cocoon-media-add-media-form table tbody tr td input[type="radio"] {
  min-width: 20px;
  min-height: 20px;
}

.cocoon-media-add-media-form table tbody tr .media-thumb {
  width: 100%;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.cocoon-media-add-media-form table tbody tr .media-title {
  height: 4em;
  word-break: break-all;
}

.cocoon-media-add-media-form table tbody tr fieldset {
  padding: 15px;
}
